---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="S'enregistrer">
  <h1>S'enregistrer</h1>
  <p>Vous avez déjà un compte ? <a href="/signin">Connexion</a></p>
  <form action="/api/auth/register" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" />
    <button type="submit">S'enregistrer</button>
  </form>
</BaseLayout>