---
import { supabase } from '../lib/supabase';

const { data: users, error } = await supabase.from('Users').select('*');

if (error) {
  console.error('Erreur lors de la récupération des utilisateurs:', error.message);
}
---
<h2>Utilisateurs</h2>

{users && users.map(({ username, password }) => (
  <article>
    <p>User : {username}</p>
    <p>Password : {password}</p>
  </article>
))}