---
import '../styles/global.css';

const { cookies } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return Astro.redirect("/dashboard");
}
---

<div class="login-wrapper">
  <div class="login-card">
    <h1>SOICT-HUST ~ CCTV Monitoring</h1>
    <form action="/api/auth/signin" method="post" enctype="application/x-www-form-urlencoded">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required />
      
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      
      <button type="submit">Log in</button>
    </form>
  </div>
</div>