---
import BaseLayout from "../layouts/BaseLayout.astro";
import { supabase } from "../lib/supabase";

const { data: user, error } = await supabase.auth.getUser();
const email = user?.user?.email;
---

<BaseLayout>
  <h1>Manage website users</h1>

  {error ? (
    <p>Error while loading user : {error.message}</p>
  ) : (
    <p>Currently connected as <strong>{email}</strong></p>
  )}

  <h2>Would you like to add another user ?</h2>
  <div class="input-line">
    <div class="input-group">
      <label>Group</label>
      <select name="group" class="my-select">
        <option value="user">user</option>
        <option value="admin">admin</option>
      </select>
    </div>
    <form id=add-web-user action="/api/auth/add-web-user" method="post" class="input-line">

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="my-input" required />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="my-input" required />
      </div>
      
      <div class="align-right">
        <div class="input-group">
          <button type="submit" class="button-add">Add user</button>
        </div>
      </div>
    </form>
  </div>
  

  <script type="module">

    function showToast(message, isError = false) {
      const toast = document.getElementById('toast');
      toast.textContent = message;
      toast.style.background = isError ? '#c0392b' : '#27ae60';
      toast.classList.add('show');

      setTimeout(() => {
        toast.classList.remove('show');
      }, 3000);
    }

    document.querySelector('#add-web-user').addEventListener('submit', async (e) => {
      e.preventDefault();

      const form = e.target;
      const formData = new FormData(form);
      const payload = Object.fromEntries(formData.entries());

      payload.group = document.querySelector('select[name="group"]').value;

      const res = await fetch('/api/auth/add-web-user', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(payload),
      });

      const text = await res.text();
      showToast(text,!res.ok);
      if (res.ok) form.reset();
    });
  </script>
  <div id="toast" class="toast"></div>
</BaseLayout>
