---
---
<div class="nav-links">
    <a href="/dashboard">Home</a>
    <a href="/webuser_management/">Website users</a>
    <a href="/user_management/">Camera users</a>
    <a href="/api/auth/signout/">Sign out</a>
</div>
